@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@inject IJSRuntime js;


<div class="page @mode">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="darkModeSwitch" @onchange="ModeChangedAsync">
              <label class="custom-control-label" for="darkModeSwitch">Dark Mode</label>
            </div>
            <NavLink href="/aboout">About</NavLink><br />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopCenter"
                Timeout="15"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="thumbs-up"
                ErrorClass="warning-toast-override"
                ErrorIcon="thumbs-down">
    
</BlazoredToasts>

@code{
    private bool darkMode = false;
    private string mode => darkMode ? "dark-mode" : "";
    private const string keyDarkMode = "dark-mode";

    protected override async Task OnInitializedAsync()
    {
        var darkModeStorageSetting = await js.InvokeAsync<string>("readLocalStorage", keyDarkMode);
        darkMode = darkModeStorageSetting == "true" ;
    }

    private async Task ModeChangedAsync(ChangeEventArgs e)
    {
        darkMode = (Boolean) e.Value;
        await js.InvokeVoidAsync("addToLocalStorage", keyDarkMode, darkMode.ToString());
    }
}
