@inherits LayoutComponentBase
@using Blazored.Toast.Configuration


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopCenter"
                Timeout="15"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="thumbs-up"
                ErrorClass="warning-toast-override"
                ErrorIcon="thumbs-down">
    
</BlazoredToasts>
