<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WarelogManager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="shop/products">
                <span class="oi oi-basket" aria-hidden="true"></span> Shop
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="shop/basket">
                <span class="oi oi-cart" aria-hidden="true"></span> Basket
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>expandInventorySubMenu = !expandInventorySubMenu">
                <span class="oi oi-expand-down" aria-hidden="true"></span> Inventory
            </NavLink>
            @if (expandInventorySubMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="inventory/items">
                            <span class="oi oi-command" aria-hidden="true"></span> Items
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="companies">
                <span class="oi oi-globe" aria-hidden="true"></span> Companies
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plants">
                <span class="oi oi-project" aria-hidden="true"></span> Plants
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pallets">
                <span class="oi oi-box" aria-hidden="true"></span> Pallets
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandWarehouseSubMenu = false;
    private bool expandInventorySubMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
