@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    /*light theme*/
    --background: #ffffff;
    --font-color: #000000;
    --higlight: #f7f7f7;
    --higlight2: #e2e3e5;
    --link: #0366d6;
    --sidebar-background: linear-gradient(#0080ff, #66b3ff);
}

.dark-mode {
    /*dark theme*/
    --background: #121212;
    --font-color: #ffffff;
    --higlight: #393939;
    --higlight2: #414648;
    --link: #61b5ff;
    --sidebar-background: linear-gradient(#104070, #02182e);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: var(--link);
}

.alert-secondary {
    background-color: var(--higlight-2);
    color: var(--font-color);
}

.table {
    color: var(--font-color);
}

div.main {
    background-color: var(--background);
    color: var(--font-color);S
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazored-typeahead {
    background: #ffffff;
    color: #000000;
}
