@page "/"

<h1>Warelog Manager!</h1>

Welcome to the best logistic manager!

<figure class="text-center" style="margin-top: 300px">
  <blockquote class="blockquote">
    <p>This is new logistic manager you can do magic.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Make magic great again <cite title="Source Title"> Warelog</cite>
  </figcaption>
</figure>
